@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


body{    
	font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    font-style: normal;
    color: #000000;
    padding: 25px;    
}

/* Tete de page */

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

/* Logo du site */
header img {
    width: 61.09px;
    height: 19px;
    
}

/* Menu nav */
ul {
    display: flex;
    list-style: none;
    
}

a { 
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    padding: 10px ;

}

/* Ajout de l'effet de survol */
li:hover a{ 
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 50px;
}

/* Landing page */
.landing-page h1 {
    padding-top: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    
}

/* Formulaire */
form{
    display: flex;
    align-items: center;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 250px;
    margin-bottom: 10px;


}

i.fa-location-dot {
    color: #000000;
    padding-left: 15px;
    padding-right: 5px;
}

.text_rechercher {
    background: #F2F2F2;
    border: white;
}

::placeholder{
    color: black;
    text-align: center;
    font-weight: 700;
   border: none;  /* Comment enlever la bordure quand on clique ? */
}

/* Bouton Rechercher */
input.submit{
    font-weight: 700;
    color: white;
    padding: 15px 16px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

/* Filtre */
section.filtre{
    display: flex;
    align-items: center;
    font-family: 'Raleway';
}
h3{
    font-weight: 700;
    font-size: 18px;
    padding-right: 15px;
}

/* Buttons filtre */
ol{
    font-weight: 700;
    font-size: 17px;
}
/* div.button_filtre{} */
button{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
    background-color: white;
}
button:hover{
    background-color: #DEEBFF;
}
/* button.button_eco{} */


button.button_family{
    margin-left: 25px;
}
button.button_heart{
    margin-left: 25px;
}
button.button_dog{
    margin-left: 25px;
}
i{
    color: blue;
}
section.info{
    display: flex;
    align-items: center;
}
i.fa-info{
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding:10px;
    font-size: 15px;
    /* Bordure du i qui n'est pas circulaire */
}

h4{
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
}

/* Hebergement à marseille */

section.hebergement_marseille{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 50%;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;

}

.container_card_marseille{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card_marseille1{
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 230px;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 2px 1px 10px grey;
    padding: 5px;
    margin-bottom: 15px;
}

.img_marseille1{
    object-fit : cover;
    height: 45%;
    border-radius: 20px 20px 0px 0px;
    
}
.container_marseille1{
    margin-left: 5%;

}
h5{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-top: 7px;
    margin-bottom: -5px;
}
p.info_container_marseille1{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

}

i.fa-star{
/* a faire */
}

h1.afficher_plus{
    font-weight: 700;
    font-size: 18px;
}

    /* display entre les 2 blocs hebergement et populaire */
.test-cards{
    display: flex;
    justify-content: space-between;

}

/* Populaire */

aside.populaire_cards{
    width: 33%;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    /* background à rajouter en gris et shadow */

}

.container_title_populaire{
    display: flex;
    width: 55%;
    align-items:baseline;
    justify-content: space-between;
}

h1.title_cards{
    margin-left: 6%;
}
i.fa-chart-line{
    width: 10%;
}

.container_card_populaire{
    margin-left: 3%;
    width: 100%;
}

.card_populaire{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 5px 1px 10px grey;
    margin-bottom: 15px;
    margin-left: 10px;
}

.img_populaire{
    object-fit : cover;
    max-width: 180px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}