@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body{    
	font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    font-style: normal;
    color: #000000;    
}

/* Tete de page */
section.top-page {
    padding: 25px;

}

header.header {
    display: flex;
    justify-content: space-between;
}

/* Logo du site */
header img {
    width: 61.09px;
    height: 19px;
}

/* Menu nav */
nav.nav {
    display: flex;
    list-style: none;
}

a{ 
    padding-left: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;

}


/* Ajout de l'effet de survol */
 nav.nav li:hover a{ 
    color: #0065FC;
    border-top: 2px solid blue;
    box-shadow: inset blue;
}

    



